@import './mixins';
@import './variables';

.header {
  padding: 2rem 3rem;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  color: $black;
  background-color: $primary;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

pre {
  margin: 1rem 0;
  font-size: $font-size-small;

  @include respond-tablet {
    font-size: $font-size-medium;
  }
}
