@import './mixins';
@import './variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  color: $black;
  background-color: rgba($primary, 0.3);
}

.header-title {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}

.west {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.north {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.east {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

.south {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.stay {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.modal-open {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  font-size: 1.2rem;
}

.modal-close {
  margin-top: 2rem;
}
