@import './mixins';
@import './variables';

.overlay {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba($black, 0.5);
  z-index: 2;
  cursor: pointer;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  margin: 2rem;
  padding: 2rem;
  border-radius: 3px;
  cursor: auto;
}
