@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// COLORS

$white: #ffffff;
$black: #000;
$primary: #93e6df;

// FONTS

$font-family: 'Roboto', sans-serif;
$font-size-large: 2rem;
$font-size-medium: 1.6rem;
$font-size-small: 1rem;

$font-weight-medium: 400;
$font-weight-bold: 700;
